
<div class="container my-4">
    <h4 [ngClass]="{'strike':!todo.active}">{{todo.title}}</h4>
    <p [ngClass]="{'strike':!todo.active}">{{todo.desc}}</p>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" [checked]="!todo.active" id="exampleCheck{{i}}" (click)="onchecked(todo)">
        <label class="form-check-label" for="exampleCheck{{i}}">Done</label>
      </div>
    <button class="btn btn-sm text-bg-danger" (click)="deleteTodo(todo)">Delete</button>
</div>
